<div id="<%= dom_id barang %>">
  <p>
    <strong>Nama:</strong>
    <%= barang.nama %>
  </p>

  <p>
    <strong>Jenis:</strong>
    <%= barang.jenis %>
  </p>

  <p>
    <strong>Bahan:</strong>
    <%= barang.bahan %>
  </p>

</div>
